* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

}

body {
  background: linear-gradient(45deg, #190361 0%, #BB00FF 100%);
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 24rem 54rem 32rem;
  
  font-size: 2.4rem;

  animation: gradient 10s ease infinite;
}

main {
  background: #FFFFFF;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem; 

  width: min(42.8rem, 90%);

  text-align: center;
  
}

button {
 background: none;
 border: none;
}

.hide {
  display: none;
}

/* screen1 */

.screen1 {
  padding: 4.8rem 6.4rem 6.4rem;
}

.screen1 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  color: #34355B;

  margin-bottom: 1.4rem;
}

.screen1 p {
  font-family: 'Dm sans', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #34355B;
  margin-bottom: 2rem;
}

#cookieBtn:hover{
  animation: shake 0.5s infinite ;
  cursor: pointer;
}

/*  screen2  */

.screen2 {
  padding: 4.8rem 6.4rem;
}

.screen2 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: #34355B;

  margin-bottom: 1.7rem;
}

.message-popup {
  background: #E4EDF1;
  box-shadow: .2rem .2rem .2rem rgba(85, 85, 85, 0.5);

  width: 29rem;
  height: 11rem;
  
  animation: appear 2.5s;
}

#luckyQuote{
  font-family: 'Dancing Script', sans-serif;
  font-weight: normal;
  font-size: 2.4rem;

  color: #000000;

  padding: 1rem;
}

button {
  background: #FF9500;
  border-radius: .4rem;
  padding: 1.6rem;

  font-family: 'Dm sans', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  
  color: #FFFFFF;

  cursor: pointer;
}

button:hover{
  background: #b56b03;
}

@keyframes shake {
  0% { transform: translate(0, 0) 
    rotate(0deg); 
  }
  25% { transform: translate(5px, 5px) 
    rotate(5deg); 
  }
  50% { transform: translate(0, 0) 
    rotate(0eg); 
  }
  75% { transform: translate(-5px, 5px) 
    rotate(-5deg); 
  }
  100% { transform: translate(0, 0) 
    rotate(0deg); 
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10.5rem) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
